{# File: [module]/templates/page--feature.html.twig #}

<div class="container">
  {% if paragraphs[0].optional_title is defined and paragraphs[0].optional_title is not empty %}
<h3 class="optional_title">{{ paragraphs[0].optional_title | raw }}</h3>
  {% endif %}

  <div class="feature-grid">  {% for paragraph in paragraphs|slice(1, 3) %}
  <article class="feature-item">
  <img src="{{ file_url(paragraph.illustration) }}" alt="{{ paragraph.illustration.alt }}">
  <div class="feature-title">{{ paragraph.blockTitle | raw }}</div>
  </article>
  {% endfor %}
  </div>
  {# Conditional button/link at the bottom #}
  {% if paragraphs[0].link is defined and paragraphs[0].link.url is not empty %}
     <div class="block-container">
          <a class="link-class" href="{{ paragraphs[0].link.url }}">{{ paragraphs[0].link.title }}</a>
    </div>
  {% endif %}
    {% if paragraphs[0].secondary_title is defined and paragraphs[0].secondary_title is not empty %}
   <div class="block-container">
   <div class="border"></div>
     <h3 class="optional_title">{{ paragraphs[0].secondary_title | raw }}</h3>
      <a class="secondary_link" href="{{ paragraphs[0].secondary_link.url }}">{{ paragraphs[0].secondary_link.title }}</a>
      </div>
     {% endif %}
</div>
